<div class="row justify-content-center">
  <div class="col col-md-6">
    <form [formGroup]="form">
      <div class="input-group input-group-lg">
        <input
          class="form-control"
          type="search"
          placeholder="Search for city"
          formControlName="search"
          aria-label="Search city"
        />
        <button
          class="btn btn-primary"
          type="submit"
          (click)="search()"
          [disabled]="!form.valid"
        >
          <fa-icon [icon]="['fas', 'search']" size="lg"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<section
  class="py-md-3 text-center text-sm-start"
  *ngIf="searchResults$ | async as data"
>
  <div class="row justify-content-center">
    <div class="col col-md-10">
      <h2 class="pt-3 h3 fw-normal">
        {{ data.city.name + ", " + data.city.country }}
      </h2>

      <app-current-day [today]="data.list[0]"></app-current-day>
    </div>
  </div>

  <app-future-days [days]="data.list"></app-future-days>
</section>
