<form [formGroup]="form">
  <div class="input-group input-group-lg">
    <input
      class="form-control"
      type="search"
      placeholder="Search for city"
      formControlName="search"
      aria-label="Search city"
    />
    <button
      class="btn btn-primary"
      type="button"
      (click)="search()"
      [disabled]="!form.valid"
    >
      Search
    </button>
  </div>
</form>

<section class="p-5" *ngIf="searchResults$ | async as city">
  {{ city | json }}
</section>
<section class="py-5" *ngIf="weather$ | async as days">
  <ul class="list-unstyled row border">
    <ng-container *ngFor="let date of days">
      <ng-container *ngFor="let day of date; first as isFirst">
        <li *ngIf="isFirst" class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                {{ day.dt | convertDate | date: "EE d MMM yyyy, h:mm a" }}
              </h5>
              <p>
                <strong> {{ day.main.temp_max | temperature: "C" }}</strong
                ><br />
                {{ day.main.temp_min | temperature: "C" }}
              </p>
            </div>
          </div>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</section>
