<div class="card">
  <div class="card-body p-md-4">
    <h3 class="card-title mb-0 fw-normal h5">Current Weather</h3>
    <small class="d-block fw-bold">
      {{ today.dt | convertDate | date: "EE d MMM y" }}
    </small>
    <div class="row align-items-center mt-3">
      <div class="col-12 col-sm-6">
        <p class="h1">
          <fa-icon
            [icon]="['fas', today.weather[0].icon | icons]"
            size="lg"
          ></fa-icon>
          <strong> {{ today.main.temp | temperature: "C" }}</strong>
        </p>
      </div>
      <div class="col-12 col-sm-6">
        <p>
          <span class="d-block">
            {{ today.weather[0].description }}
          </span>
          <span class="d-block">
            Feels Like {{ today.main.feels_like | temperature: "C" }}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
